header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin-left: 20px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    max-width: 80%;
    font-size: 60px;
}

h2{
    margin-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    max-width: 80%;
}

h3{
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    max-width: 80%;
}

h4{
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 2px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 80%;
}

.text{
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 80%;
}

.none_ol_type{
    list-style-type: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.none_ol_type,
li a{
    text-decoration: none;
}

.menu{
    flex-grow: 1;
}

.menu li{
    margin-right: 20px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu a{
    padding: 8px 10px;
}

.logo{
    margin-right: 30px;
}

.menu .active{
    color: #fff;
    background-color: #ffffff;
    border-radius: 8px; 
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    list-style: none;
  }
  
  .menu a,
  .menu .active {
    display: block;
    padding: 8px 10px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    text-transform: uppercase;

  }
  
  .menu a {
    color: #26333b;
    text-decoration: none;
  }

  .profile_button{
    display: block;
    padding: 8px 10px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    font-style: bold;
    text-transform: uppercase;
  }

  .profile_button .active{
    color: #26333b;
    background-color: #fffb00;
    border-radius: 8px; 
    display: block;
    padding: 8px 10px;
    text-decoration: none;
  }

figure .picture{
    border-radius: 5%;
}

aside{
    bottom: 30px;
    right: 10px;
}

.arrow-7 {
    margin: 40px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fffb00;
    border-right: 5px solid #fffb00;
    transform: rotate(225deg);
    margin: -16px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(225deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(225deg);
    }
}

footer{
    flex-grow: 1;
}

footer ul{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    list-style: none;
}

footer li{
    margin-right: 20px;
}

footer li:last-child{
    margin-right: 0;
}

footer .active{
    display: block;
    padding: 8px 10px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;   
}

footer a{
    color: #26333b;
    text-decoration: none;
}