header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}



/*Отдельный стиль для заголовков*/
h1{
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: xx-large;
}

h2{
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

h3{
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h4{
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 2px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.text{
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.none_ol_type{
    list-style-type: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.menu{
    flex-grow: 1;
}

.menu ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li{
    margin-right: 20px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu a{
    padding: 8px 10px;
}

.logo{
    margin-right: 30px;
}

.menu .active{
    color: #fff;
    background-color: #ffffff;
    border-radius: 8px; 
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }
  
  .menu a,
  .menu .active {
    display: block;
    padding: 8px 10px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    text-transform: uppercase;

  }
  
  .menu a {
    color: #000;
    text-decoration: none;
  }

  .profile_button{
    display: block;
    padding: 8px 10px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    text-transform: uppercase;
  }

  .profile_button .active{
    color: #26333b;
    background-color: #fffb00;
    border-radius: 8px; 
    display: block;
    padding: 8px 10px;
    text-decoration: none;
  }

